consensus-data
execution-data
validator-keys
el-cl-genesis-data
*.sqlite
api-token.txt
logs
.secp-sk
geth
*.sqlite-journal
allocs.json

node_modules
nohup.out
pendingTransactions.json
allocs.json

pid.file
.idea

bootnode_info
outside-bootnode-info